<% unless @feed_items.empty? %>
  <%= will_paginate @feed_items %>
  <ol class="microposts" summary="User microposts">
    <%= render :partial => 'shared/feed_item', :collection => @feed_items %>
  </ol>
  <div class="clearer"></div>
  <%= will_paginate @feed_items %>
<% end %>